<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="images/imperialsofetch.png">
    <title>Imperial Softech</title>
    <!-- Bootstrap Core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-extension/css/bootstrap-extension.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">
    <link rel="stylesheet" href="css/animationModal.css">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <!-- Modal -->
    <div id="modal-container">
        <div class="modal-background">
            
          <div class="modal">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top:8px; right: 8px; font-size: 40px;">
                <span aria-hidden="true">&times;</span>
              </button>
            <form method="POST" action="" class="appointment-form" id="appointment-form">
                
                    <h2>Đăng nhập hệ thống</h2>
                <div class="form-group-1">
                    <input type="text" name="tendangnhap" id="tendangnhap" placeholder="Tên đăng nhập" />
                    <input type="password" name="password" id="password" placeholder="Mật khẩu" />
                
                </div>
            
                <div class="form-submit">
                    <input type="submit" name="submit" id="submit" class="submit btn-block" value="Đăng nhập" />
                </div>
                
            </form>
            <h4><a href="#">Quên mật khẩu?</a></h4>
            <!-- <svg class="modal-svg" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
                                      <rect x="0" y="0" fill="none" width="226" height="162" rx="3" ry="3"></rect>
                                  </svg> -->
          </div>
        </div>
      </div>

    <section id="wrapper" class="login-register">
        <div class="login-box">
            <div class="white-box">
                    <div class="form-group text-center">
                        <div class="col-xs-12">
                             <!-- <img src="dist/images/imperialsofetch.png"/> -->
                             <img src="images/logofruit.png" style="width: 300px; height: 225px;" />
                        </div>
                    </div>
                    <div class="form-group  text-center">
                        <div class="col-xs-12">
                           <h4><b>Chuỗi cung ứng nông sản</b></h4>
                            <h6>Khoa công nghệ thông tin, Đại học Mở Hà Nội</h6>
                        </div>
                    </div>
                    <div class="form-group text-center">
                        
                         <div class="col-xs-6 p-b-20">
                            <button id="one" class="button btn btn-rounded btn-block btn-info">Đăng nhập</button>
                        </div>
                    </div>   
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bower_components/bootstrap/dist/js/tether.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-extension/js/bootstrap-extension.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.min.js"></script>
    <!--Style Switcher -->
    <script src="js/animationModal.js"></script>
</body>

</html>

